
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: arial;
}
.main {
  margin: 2%;
}

.card {
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
  grid-template-columns: repeat(2, 1fr);
}

.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title {
  text-align: center;
  padding: 10px;
}


.des {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
button{
  background-color:rgb(216, 132, 132);
  border-color: royalblue;
  border-radius: 25%;
}

/* The <ul> tag defines an unordered (bulleted) list */
ul {
  /* Remove list bullets */
  list-style-type: none;
  
  /* The CSS margin properties are used to create space around elements, outside of any defined borders */
  margin: 0;
  
  /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
  padding: 0;
  
  /* The overflow property specifies what should happen if content overflows an element's box. */
  overflow: hidden;
  
  /*  */ 
  background-color: #333;
}
/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
li {
  /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
  float:left;
}
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
  /* The display property specifies the display behavior (the type of rendering box) of an element. */
  display: block;
  
  /*  */
  color: white;
  
  /* The text-align property specifies the horizontal alignment of text in an element. */
  text-align: center;
  
  /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
  padding: 14px 16px;
  
  /* The text-decoration property specifies the decoration added to text */
  text-decoration: none;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
  /*  */
  background-color: rgb(80, 2, 2, 0.2);
  /*font-size: 130%; */
}

li a .active {
  /*  */
  background-color: #111;
}

.topnav a.active {
  background-color: #410909;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


body{background-color: white;
  background-image: url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: thistle;
 
}
p {
background-color: transparent;
}
.intro {
color:blue;
background-color: #e6e6e6;
}
#p2 {
background-color: transparent;

}

.dark{background-color:transparent;
color:#020202;}
.b1{background-color: transparent;}